{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="{% static 'favicon.png' %}">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <title>The Greens TRAVEL</title>
</head>

<body>
  <!-- Start Header/Navigation -->
  <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="THE GREENS TRAVEL">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">The Greens Travel<span>.</span></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsFurni">
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li><a class="nav-link" href="{% url 'ingressos' %}">Disney</a></li>
          <li><a class="nav-link" href="about.html">Assessoria Consular</a></li>
          <li><a class="nav-link" href="services.html">Airport Transfer</a></li>
          <li><a class="nav-link" href="blog.html">Mundial de Clubes 2025</a></li>
          <li><a class="nav-link" href="contact.html">Contato</a></li>
        </ul>

        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
          <li><a class="nav-link" href="#"><img src="{% static 'images/user.svg' %}"></a></li>
          <li><a class="nav-link" href="cart.html"><img src="{% static 'images/cart.svg' %}"></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Header/Navigation -->

  <!-- Start Hero Section -->
  <div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Sua viagem começa agora<span clsas="d-block">.</span></h1>
            <p class="mb-4">Aproveite todas as nossas promoções</p>
            <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explorar</a></p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="hero-img-wrap">
            <img src="{% static 'images/santamonica.jpg' %}" class="img-fluid img-rounded">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Start Product Section -->
  <div class="product-section">
    <div class="container">
      <div class="row">
        <!-- Start Column 1 -->
        <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
          <h2 class="mb-4 section-title">Sua viagem mais tranquila. Nós cuidamos de tudo por você</h2>
          <p class="mb-4">Oferecemos os melhores serviços para a sua viagem, cuidamos do seu ingresso e até mesmo do seu passaporte. </p>
          <p><a href="shop.html" class="btn">Explorar</a></p>
        </div> 
        <!-- End Column 1 -->

        <!-- Start Column 2 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
          <a class="product-item" href="cart.html">
            <img src="{% static 'images/secao0201.jpg' %}" class="img-fluid product-thumbnail">
            <h3 class="product-title">Ingressos Disney</h3>
            <strong class="product-price"></strong>
            <span class="icon-cross">
              <img src="{% static 'images/cross.svg' %}" class="img-fluid">
            </span>
          </a>
        </div> 
        <!-- End Column 2 -->

        <!-- Start Column 3 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
          <a class="product-item" href="cart.html">
            <img src="{% static 'images/secao0202.jpg' %}" class="img-fluid product-thumbnail">
            <h3 class="product-title">Mundial de Clubes 2025</h3>
            <strong class="product-price"></strong>
            <span class="icon-cross">
              <img src="{% static 'images/cross.svg' %}" class="img-fluid">
            </span>
          </a>
        </div>
        <!-- End Column 3 -->

        <!-- Start Column 4 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
          <a class="product-item" href="cart.html">
            <img src="{% static 'images/secao0203.jpg' %}" class="img-fluid product-thumbnail">
            <h3 class="product-title">Assessoria Consular</h3>
            <strong class="product-price"></strong>
            <span class="icon-cross">
              <img src="{% static 'images/cross.svg' %}" class="img-fluid">
            </span>
          </a>
        </div>
        <!-- End Column 4 -->
      </div>
    </div>
  </div>
  <!-- End Product Section -->

  <!-- Start We Help Section -->
  <div class="we-help-section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <div class="imgs-grid">
            <div class="grid grid-1"><img src="{% static 'images/secao0416.jpg' %}" alt="Untree.co"></div>
            <div class="grid grid-2"><img src="{% static 'images/secao0418.jpg' %}" alt="Untree.co"></div>
            <div class="grid grid-3"><img src="{% static 'images/secao0419.jpg' %}" alt="Untree.co"></div>
          </div>
        </div>
        <div class="col-lg-5 ps-lg-5">
          <h2 class="section-title mb-4">OS MAIORES CLUBES DO MUNDO EM UM SÓ LUGAR</h2>
          <p>TUDO PRONTO PARA VOCÊ ASSISTIR AO MAIOR TORNEIO DE CLUBES DO MUNDO NOS ESTADOS UNIDOS</p>

          <ul class="list-unstyled custom-list my-4">
            <li>34 clubes disputarão a competição</li>
            <li>11 estádios receberão um total de 54 jogos</li>
            <li>Capacidade média de 80000 pessoas por estádio</li>
            <li>Maior torneio da história entre clubes já registrado</li>
          </ul>
          <p><a herf="#" class="btn">Explore</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End We Help Section -->

  <!-- Start Why Choose Us Section -->
  <div class="why-choose-section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <h2 class="section-title">Porque escolher a gente</h2>
          <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

          <div class="row my-5">
            <div class="col-6 col-md-6">
              <div class="feature">
                <div class="icon">
                  <img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
                </div>
                <h3>Fast &amp; Free Shipping</h3>
                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
              </div>
            </div>

            <div class="col-6 col-md-6">
              <div class="feature">
                <div class="icon">
                  <img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
                </div>
                <h3>Easy to Shop</h3>
                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
              </div>
            </div>

            <div class="col-6 col-md-6">
              <div class="feature">
                <div class="icon">
                  <img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
                </div>
                <h3>24/7 Support</h3>
                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
              </div>
            </div>

            <div class="col-6 col-md-6">
              <div class="feature">
                <div class="icon">
                  <img src="{% static 'images/return.svg' %}" alt="Image" class="imf-fluid">
                </div>
                <h3>Hassle Free Returns</h3>
                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="img-wrap">
            <img src="{% static 'images/whychooseus.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Why Choose Us Section -->

  <!-- Start Popular Product -->
  <div class="popular-product">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="product-item-sm d-flex">
            <div class="thumbnail">
              <img src="{% static 'images/secao0501.avif' %}" alt="Image" class="img-fluid">
            </div>
            <div class="pt-3">
              <h3>California</h3>
              <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="product-item-sm d-flex">
            <div class="thumbnail">
              <img src="{% static 'images/secao0502.webp' %}" alt="Image" class="img-fluid">
            </div>
            <div class="pt-3">
              <h3>Hollywood</h3>
              <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="product-item-sm d-flex">
            <div class="thumbnail">
              <img src="{% static 'images/secao0503.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="pt-3">
              <h3>Disney</h3>
              <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Popular Product -->

  <!-- Start Testimonial Slider -->
  <div class="testimonial-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto text-center">
          <h2 class="section-title">Testimonials</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="testimonial-slider-wrap text-center">
            <div id="testimonial-nav">
              <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
              <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
            </div>

            <div class="testimonial-slider">
              <div class="item">
                <div class="row justify-content-center">
                  <div class="col-lg-8 mx-auto">
                    <div class="testimonial-block text-center">
                      <blockquote class="mb-5">
                        <p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl